<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>La liste des produits disponibles:</h1>
    <table border="1px">
      <thead></thead>
      
      <tbody>
        <tr>
          <td>Code</td>
          <td>Nom</td>
          <td>Prenom</td>
          <td>Adresse</td>
          <td>Telephone</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        {% for F in fournisseur %}
        <tr>
          <td>{{ F.CodeF }}</td>
          <td>{{ F.NomF }}</td>
          <td><a href="{% url 'edit-fournisseur' F.CodeF %}">Edit</a></td>

          <td><a href="{% url 'delete-fournisseur' F.CodeF %}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="" method="POST">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Valider">
    </form>
  </body>
</html>
