<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>La liste des produits disponibles:</h1>
    <table border="1px">
      <thead></thead>
      {% for T in Types %}
      <tbody>
        <tr>
          <td>{{ T.CodeT }}</td>
          <td>{{ T.DesignationT }}</td>
          <td>
            <a>Edit</a>
          </td>
          <td>
            <a>Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
